form {
	width: 100%;
	height: auto;

	display: flex;
	align-items: flex-start;

	border-bottom: 2px solid rgb(27, 27, 27);

	border-radius: 10px;

	margin-inline: auto;

	margin-block: 20px;
}

.info-wrapper {
	width: 100%;

	margin: 50px;

	flex-grow: 1;

	display: flex;

	gap: 20px;

	input {
		flex-grow: 1;
		font-size: 2rem;

		height: 66px;

		border-radius: 5px;
	}

	button {
		font-size: 1.75rem;

		padding: 15px;

		text-transform: uppercase;

		background-color: rgb(44, 94, 211);

		border-radius: 10px;
		border: 2px solid white;

		color: white;

		font-weight: bold;
	}
}

@media(max-width: 580px) {
	.info-wrapper {
		flex-direction: column;
	}
}

@media(max-width: 510px) {
	.info-wrapper {
		margin: 20px;
	}
}

@media(max-width: 450px) {
	.info-wrapper {
		margin: 0px;
	}

	form {
		width: 90%;
	}
}