.list-item {
	position: relative;

	list-style-type: none;

	font-size: 1.5rem;
	font-family: 'Hanken Grotesk', sans-serif;

	width: 90%;

	background-color: rgb(22, 22, 22);

	border-radius: 5px;
	border: 1px solid rgb(108, 108, 108);

	padding-inline: 10px;

	min-height: 100px;

	display: flex;
	justify-content: space-between;

	gap: 15px;

	transition: 0.4s;

	overflow: hidden;

	animation: popUpAnim 0.4s alternate ease-in-out;

	&:hover {
		border-color: white;
	}

	p {
		align-self: center;
		flex: 1;
		white-space: pre-wrap;
		word-break: break-word;
	}
}

@keyframes popUpAnim {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0%);
		opacity: 1;
	}
}

.list-item.done {
	background-color: rgb(24, 82, 24);
}

.deletition-approvement {
	position: absolute;

	top: 0;
	left: 0;

	z-index: -10;

	width: 100%;
	height: 100%;

	background-color: rgba(89, 89, 89, 0.22);
	backdrop-filter: blur(3px);

	transition: 0.4s;

	opacity: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 10px;
}

.deletition-approvement.active {
	opacity: 1;
	z-index: 10;
}

.decisionBtns {
	display: flex;
	justify-content: space-evenly;
	align-items: center;

	width: 50%;

	gap: 15px;

	button {
		font-size: 2rem;

		border-radius: 5px;

		width: 100px;
	}
}

.actions {
	display: flex;
	flex-direction: column;

	justify-content: space-evenly;
	align-items: center;

	color: rgb(170, 170, 170);

	border-left: 1px solid rgb(84, 84, 84);

	padding-left: 10px;

	i {
		transition: 0.3s;

		width: 100%;
		height: 100%;

		display: flex;
		align-items: center;
	}

	i:hover {
		color: white;

		transform: scale(1.1);
	}
}

.date-info {
	position: absolute;

	bottom: 0;
	left: 5px;

	font-size: 0.8rem;

	display: flex;
	gap: 5px;

	color: gray;
}

@media (max-width: 650px) {
	.deletition-approvement > span {
		font-size: 1.3rem;
	}
}

@media (max-width: 520px) {
	.deletition-approvement > span {
		font-size: 1.1rem;
	}

	.decisionBtns > button {
		font-size: 1.5rem;
	}
}

@media (max-width: 450px) {
	.deletition-approvement > span {
		font-size: 1rem;
	}

	.decisionBtns > button {
		font-size: 1.3rem;
	}
}

@media (max-width: 420px) {
	.deletition-approvement > span {
		font-size: .9rem;
	}

	.decisionBtns > button {
		font-size: 1.3rem;
	}
}