header {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: blueviolet;
}

header > p {
	font-size: 2.5rem;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: 900;

	text-transform: uppercase;

	margin-block: 20px;
}
